/*-RESET-*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*- VARIAVEIS -*/
:root {
  --header-height: 7.2rem;
  font-size: 62.5%;
  /* colors */
  --hue: 184;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 53% 43%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  scroll-behavior: smooth;

  /*font-size variables*/
  --font-size-texts: 1.6rem;
  --font-size-title: 3rem;
  --font-size-buttons: 1.6rem;
  --font-size-nav: 1.6rem;
  --font-size-nav-toggle: 1.6rem;
  --font-size-logo: 2.1rem;
  --font-size-icon: 2.4rem;
  --font-size-icon-card: 8rem;
  --font-size-title-card: 2.4rem;
  --font-size-blockquote-mark: 4.8rem;

  --font-size-subtitle: 1.6rem;

  --font-title-style: 'Poppins', sans-serif;
  --font-body-style: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*---------------------BASE------------------*/
body {
  font: 400 var(--font-size-texts) var(--font-body-style);
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: auto;
}

.title {
  font: 700 var(--font-size-title) var(--font-title-style);
  color: var(--title-color);
}

.button {
  display: inline-flex;

  height: 5.6rem;
  align-items: center;
  padding: 0 3.2rem;
  font: 500 var(--font-size-buttons) var(--font-body-style);

  border-radius: 0.4rem;
  background-color: var(--base-color-alt);
  color: var(--text-color-light);

  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(1.1);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*---------------------LAYOUT-------------------------*/

.container {
  margin: 0 2.4rem;
}

.grid {
  display: grid;
  gap: 3.2rem;
}

.section {
  padding: calc(8rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1.6rem;
}

.section .subtitle {
  font-size: var(--font-size-subtitle);
}

.section header {
  margin-bottom: 6.4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  display: flex;
  position: fixed;
  z-index: 100;

  width: 100%;
  top: 0;
  left: 0;

  background: var(--body-color);
  border-bottom: 1px solid #e4e4e4;
}

#header.scroll {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

/*---------------------NAVIGATION-------------------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: var(--font-size-nav);
  height: var(--header-height);
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -2.4rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -30rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
  transition: 0.2s;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 6.4rem;
}

.toggle {
  color: var(--base-color);
  font-size: var(--font-size-nav-toggle);
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -2.4rem;
  right: 2.4rem;

  transition: 0.2s;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;

  top: 2.4rem;
}

/*---------------------LOGO-------------------------*/

.logo {
  font: 700 var(--font-size-logo) 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color-alt);
}

.logo-alt span {
  color: var(--body-color);
}

/*-----------------------------HOME-----------------*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 4.7rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.4rem;
}

#home .text {
  margin: 0 2.4rem;
  /* text-align: center;*/
}

#home .text h2 {
  margin-bottom: 1.6rem;
}

#home .text p {
  margin-bottom: 3.2rem;
}

/*-----------------------------ABOUT-----------------*/
#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.4rem;
}

#about .text {
  margin: 0 2.4rem;
  /* text-align: center;*/
}

/*-----------------------------SERVICES-----------------*/
#services .cards.grid {
  gap: 2.4rem;
}

#services .card {
  padding: 5.8rem 3.2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.4rem solid var(--base-color);
  border-radius: 0.4rem 0.4rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 2.4rem;
  font-size: var(--font-size-icon-card);
  color: var(--base-color);
}

.card .title {
  font-size: var(--font-size-title-card);
  margin-bottom: 1.2rem;
}

/*-----------------------------TESTIMONIALS-----------------*/
#testimonials {
  background: white;
  overflow: hidden !important;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-bottom: 0;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

#testimonials blockquote {
  padding: 3.2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.4rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 3rem;
  margin-bottom: 2.4rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 var(--font-size-blockquote-mark) serif;
  color: var(--base-color);

  position: absolute;
  top: -0.8rem;
  left: -3rem;
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.8rem;
}

.swiper-slide {
  height: auto;
  padding: 6.4rem 1.6rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*-----------------------------CONTACTC-----------------*/
#contact .grid {
  gap: 6.4rem;
}

#contact .text p {
  margin-bottom: 3.2rem;
}

#contact .button i,
#contact ul li i {
  font-size: var(--font-size-icon);
  margin-right: 1rem;
}

#contact ul li {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

footer {
  background-color: var(--base-color);
}

footer.section {
  padding: 6.4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
  font-size: var(--font-size-logo);
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 1.2rem;
}

footer .social a {
  display: inline-block;
  margin-right: 3.2rem;

  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer i {
  font-size: var(--font-size-icon);
  color: var(--text-color-light);
}

.back-to-top {
  color: var(--text-color-light);
  background: var(--base-color-alt);
  padding: 1.2rem;
  clip-path: circle();

  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;

  font-size: var(--font-size-icon);

  visibility: hidden;
  opacity: 0;
  transition: 0.3s;

  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;

  transform: translateY(0);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 16rem 0;
  }

  .button {
    height: 5rem;
  }

  main {
    margin-top: calc(var(--header-height) + 3.2rem);
  }

  nav .menu {
    visibility: visible;
    opacity: 1;

    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 3.6rem;
  }

  nav .menu ul li a.title {
    font: 400 1.6rem var(--font-body-style);
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;

    gap: 11.8rem;

    margin: 0 auto;
  }

  #home .image {
    order: 1;
    max-width: 65.8rem;
  }

  #home .text {
    order: 0;
    max-width: 39.6rem;
    text-align: left;
  }

  #home .image::before {
    left: 5%;
  }

  #about .container {
    grid-auto-flow: column;
    gap: 6.4rem;

    margin: 0 auto;
  }

  #services .container {
    margin: 0 auto;
  }

  #services header {
    text-align: center;
    margin: 0 auto 6rem;

    max-width: 52.3rem;
  }

  #services .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #services .card {
    padding-left: 4.6rem;
    padding-right: 4.6rem;
  }

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  #testimonials header {
    max-width: 48.1rem;
    text-align: center;
    margin: 0 auto 6.4rem;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 40.4rem;
  }

  footer.section {
    padding: 6rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .container .brand a {
    font-size: var(--font-size-title);
  }

  footer .container .social {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
